---
name: Draft Release

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release-draft:
    name: Draft the Release
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v3

      - name: Draft the release
        id: drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter.yaml
          disable-autolabeler: true
